[2017-05-12 16:02] greenkeeper[bot] opened #3 "An in-range update of imagemin is breaking the build 🚨"
## Version **5.3.0** of [imagemin](https://github.com/imagemin/imagemin) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/imagemin-webpack/compare/greenkeeper%2Fimagemin-5.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      imagemin
    </td>
  </tr>
  <tr>
    <th align=left

[2017-06-02 13:20] RehanSaeed opened #8 "Cache Minified Images"
Repeatedly minifying an image should be avoided. A cache containing hashes of minified files should be saved to disk so it can be checked in to Git and shared across a team.

[2017-06-02 14:25] evilebottnawi commented on #8
@RehanSaeed The plugin and loader does not compress the images several times, could you elaborate more?

[2017-06-02 14:25] #3 closed

[2017-06-02 15:03] RehanSaeed commented on #8
I'm loooking for a Webpack loader than can:

1. Minify images.
2. I checkin the minified images.
3. Another developer runs the loader on their machine.
4. Images I previously minified are not minified again because it's a slow and processor intesive process.

When I use Gulp, I can use a caching Gulp task that stores file hashes on disk to achieve the above. See [gulp-file-cache](https://www.npmjs

[2017-06-02 15:25] evilebottnawi commented on #8
@RehanSaeed your can use `cache-loader` for this purpose https://github.com/webpack-contrib/cache-loader

[2017-06-02 15:27] evilebottnawi commented on #8
@RehanSaeed but another developer **always** run minify images on first run, so works webpack.

[2017-06-02 15:34] RehanSaeed commented on #8
cache-loader look sperfect. Thank you!

[2017-06-02 15:34] #8 closed

[2017-06-02 18:54] greenkeeper[bot] opened #9 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/imagemin-webpack/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-i

[2017-06-05 10:08] #9 closed

[2017-09-30 09:05] ejulen opened #30 "README: imageminloader should be imageminLoader (capital L)"
Like the title says, the README is currently wrong, as there is no `imageminloader` exported.

[2017-10-02 10:03] evilebottnawi commented on #30
@ejulen thank you, PR welcome

[2017-10-03 09:38] #30 closed

[2018-02-27 12:02] evilebottnawi opened #40 "Increase tests coverage"
:star:

[2018-04-03 13:33] #40 closed

[2018-04-16 17:16] glen-84 opened #43 "Loader plugins are under options, not options.imageminOptions (?)"
I was getting `No plugins found for 'imagemin-loader'`.

Is it incorrect in the README?

[2018-04-16 17:25] glen-84 commented on #43
`2.0.0`

[2018-04-16 17:30] evilebottnawi commented on #43
@glen-84 Looks you don't have plugin for `imagemin-loader`. Can you provide configuration?

[2018-04-16 17:35] glen-84 commented on #43
It's a bit of a mess ATM, as I'm doing the initial setup of webpack:

[code]

The imagemin plugins can be *dev* dependencies, right?

[2018-04-16 17:36] evilebottnawi commented on #43
@glen-84 yes

[2018-04-16 17:46] glen-84 commented on #43
[code]

[code]

When I use:

[code]

But with:

[code]

I get:

[code]

Unrelated: Should [this image](https://github.com/itgalaxy/imagemin-webpack/blob/master/__tests__/fixtures/loader-test.jpg) get smaller through jpegtran? If so, something else isn't working. 😛

[2018-04-16 18:10] evilebottnawi commented on #43
@glen-84 for `2` version please use
[code]

Docs right now rewrited on v3

[2018-04-16 18:14] glen-84 commented on #43
Okay, thanks.

[2018-04-16 18:14] #43 closed

[2018-05-06 07:43] ronjb04 opened #44 "can you show a sample webpackconfig?"
Below is my settings but its not compressing png,jpg even i set the optimizationLevel to any number.

it would really be helpful if you can show a sample of the whole config with how to optimizationLevel.

sorry im a noob in webpack

[code]

[2018-05-06 07:48] ronjb04 commented on #44
`const { ImageminWebpackPlugin } = require("imagemin-webpack");
const imageminGifsicle = require("imagemin-gifsicle");
const imageminOptipng = require('imagemin-optipng');
const imageminJpegtran = require('imagemin-jpegtran');
module.exports = {
  entry: {
    home: './src/js/home.js',
  },
  output: {
    path: path.resolve(__dirname, 'dist'),
    filename: 'js/[name].bundle.js'
  },
  module: {

[2018-05-06 12:05] evilebottnawi commented on #44
@ronjb04 each plugin for imagemin have difference params:

https://github.com/imagemin/imagemin-gifsicle#options
https://github.com/imagemin/imagemin-optipng#imageminoptipngoptionsbuffer
https://github.com/imagemin/imagemin-jpegtran#options

imagemin-jpegtran doesn't have `optimizationLevel` option.
Also you use `lossless` plugins (it is compression mode when images save your quality), also images

[2018-05-06 12:07] evilebottnawi commented on #44
Minimum reproducible test repo speedly resolve issue :+1:

[2018-05-07 06:36] ronjb04 commented on #44
i tried to follow the docs. from the links you provided but it seems confusing for someone that is just starting on webpack. i was hoping if theres a sample in webpack.config.js would really help newbies like me.

below was my last try

`new ImageminWebpackPlugin({
      imageminOptions: {
        plugins: [
          imageminGifsicle({
            optimizationLevel: 3
          }),
          imag

[2018-05-07 09:34] evilebottnawi commented on #44
@ronjb04 `imagemin-webpack-plugin` don't have many features, this plugin uses `mozilla`, if you provide minimum reproducible test repo, i can help you with configuration.

[2018-05-07 13:25] evilebottnawi commented on #44
@ronjb04 thanks, investigate today

[2018-05-07 15:33] evilebottnawi commented on #44
@ronjb04 you repository works fine:
Original images (`src/assets/images`):
[code]
Compressed images (`dist/assets/images`):
[code]

What is problem?

[2018-05-07 15:37] evilebottnawi commented on #44
Original images always should not compressed, you can change compressed option in future and without original images you can't optimize their again in right way

[2018-05-08 05:47] ronjb04 commented on #44
yes, it is working fine.. since it is using imagemin-webpack-plugin.. not imagemin-webpack where you said that imagemin-webpack-plugin has less features.. do you want me to update it using imagemin-webpack? i just comment out the settings for imagemin-webpack

[2018-05-08 09:37] evilebottnawi commented on #44
@ronjb04 oh, see, WIP

[2018-05-08 18:00] evilebottnawi commented on #44
@ronjb04
[code]

1. After `CopyWebpackPlugin` plugin

https://github.com/itgalaxy/imagemin-webpack#usage

2. You should improve `imagemin-svgo`

From docs `npm install imagemin-gifsicle imagemin-jpegtran imagemin-optipng imagemin-svgo --save-dev`

3. Also you use use `imagemin-mozjpeg` he lossy compression (i.e. lowers the quality of images).

Compression images can be in `lossy` mode (lowers the

[2018-05-08 18:02] evilebottnawi commented on #44
Also i recommendated use `imagemin-pngquant` instead `imagemin-optipng` because he also `lossy`, but you can do choose between `lossy` or `lossless` yourself. Feel free to feedback

[2018-05-17 11:55] ronjb04 commented on #44
Thanks for all the info @evilebottnawi it was very helpful. however i took me a lot of time to sort out the path conflict with fonts that is .svg with this plugin.. since the imagemin automatically address the path to the dist/ folder.. where in the CopyWebpackPlugin i have to specifically target by file type..

anyways i was able to get it working below.. And for anyone who has the same issue i h

[2018-05-17 11:59] evilebottnawi commented on #44
@ronjb04 some of images can comptressed `pngquant`, you can read this in manuall, also you can use `optipng` and `pngquant` together for best compression. `optipng` should be above than `pngquant`. Can we close issue?

[2018-05-17 12:00] ronjb04 commented on #44
@evilebottnawi ohh i see.. okay i will try both together.. thanks again for the info and YEP!!! im glad that im able to use this plugin working now.. Thanks!!

[2018-05-17 12:11] evilebottnawi commented on #44
@ronjb04 feel free to feedback

[2018-05-17 12:11] #44 closed

[2018-06-29 00:47] sesn opened #51 "image doesn't compressed with loader"
**Compiler Output**
<img width="681" alt="screen shot 2018-06-29 at 6 10 23 am" src="https://user-images.githubusercontent.com/1553701/42067318-3a8a58c4-7b63-11e8-9de4-b0c6ee4c0cbc.png">

As you see the image size of screenshot.png is around 800KB, no matter what optimization level is used, the image size in build folder is same.

**Version Info**
webpack : 4.12.0

webpack.config.js

[code]

[2018-06-29 01:57] sesn commented on #51
Figured out the issue. It is because of cache.
If I given cache true, then sometime it is working. Sometime it is not working.
Can u explain what is the reason behind this?

[2018-06-29 09:43] evilebottnawi commented on #51
@sesn should be works always :smile: Maybe you can create minimum reproducible test repo?

[2018-07-01 14:32] sesn commented on #51
@evilebottnawi ,
[`Test repo`](https://github.com/sesn/imagemin-webpack-issue) ,
I have written the test repo to reproduce the error.

[2018-07-02 09:42] evilebottnawi commented on #51
@sesn thanks!

[2018-08-31 11:31] Dhana-Krishnasamy opened #61 "vulnerabilities in imagemin-* libs"
I know imagemin is a dependency of this project, but imagemin's current version doesn't have those vulnerabilities. Thanks

[2018-08-31 11:36] evilebottnawi commented on #61
@Dhana-Krishnasamy let's update :+1:

[2018-08-31 12:01] Dhana-Krishnasamy commented on #61
sure... looks like its already being worked at: https://github.com/itgalaxy/imagemin-webpack/pull/55

besides, there are other dependencies those are dependent on vulnerable `tunnel-agent` <v0.6.0

[2018-08-31 12:28] evilebottnawi commented on #61
@Dhana-Krishnasamy better create issue in their repo, I can not do anything here.

[2018-10-31 14:04] #61 closed

[2018-11-13 06:49] evilebottnawi commented on #51
Sorry for big delay, fixed in https://github.com/itgalaxy/imagemin-webpack/releases/tag/v4.0.0

[2018-11-13 06:49] #51 closed

[2018-11-30 00:50] talha5389 opened #76 "Doesn't seem to work with responsive loader"
This is my config file
[code]

Add/removing this plugin with `responsive-loader` doesn't seem to effect image size in any way however if I disable `responsive-loader` and enable this it does produce minified image.

I am expecting it to minify images that go through responsive loader.

This is my package.json
[code]

[2018-11-30 09:30] evilebottnawi commented on #76
@talha5389 please provide link on reproducible test repo, looks for this case you should disable `loader` for plugin and configure loader in webpack config (standalone loader)

[2018-11-30 17:20] talha5389 commented on #76
This is the repository
https://github.com/talha5389/imagemin-webpack-responsive-loader-bug

[2018-11-30 17:21] evilebottnawi commented on #76
@talha5389 thanks!

[2018-12-01 16:03] talha5389 commented on #76
Sorry about that. I seem to have been using earlier version 3. I updated to v4.0.1. It seems to have fixed the issue

[2018-12-03 10:20] evilebottnawi commented on #76
@talha5389 All work fine? So we can close issue?

[2018-12-03 12:01] talha5389 commented on #76
@evilebottnawi Yes. You can close issue.

I wanted to support both minimized images in their existing format (png, jpg) etc and also produce webp versions of those images. Goal was
1. Support webp (minimized) images with responsive loader in browsers that support them
2. Support responsive images (minimized) in browsers that don't have webp but support srcset
3. Fallback to original format (minimi

[2018-12-03 12:14] evilebottnawi commented on #76
@talha5389

Can you provide minimum reproducible test repo, looks like a bug what we need fix

[2018-12-03 12:19] talha5389 commented on #76
@talha5389 Sure. I will do that when I found time today or tomorrow

[2018-12-04 16:48] talha5389 commented on #76
@evilebottnawi here's the repo
https://github.com/talha5389/path-placeholder-bug

[2018-12-04 16:50] evilebottnawi commented on #76
@talha5389 thanks!

[2018-12-06 11:42] FelschR opened #77 "does not work with copy-webpack-plugin"
My CopyWebpackPlugin comes before ImageminPlugin as instructed.
The images from CopyWebpackPlugin are nowhere to be found in the build folder, though.
When I remove the ImageminPlugin they are being copied successfully.

[2018-12-06 11:46] evilebottnawi commented on #77
@FelschR please provide minimum reproducible test repo

[2018-12-26 10:56] evilebottnawi commented on #77
/cc @FelschR friendly ping

[2018-12-26 14:18] evilebottnawi commented on #76
@talha5389 confirm bug on `windows`, WIP on this

[2019-01-23 18:00] evilebottnawi commented on #76
Done in master, release will be in near future

[2019-01-23 18:00] #76 closed

[2019-05-27 07:29] ba55ie commented on #77
A bit late, but just use: `name: "[path][name].[ext]"` to have the copied files replaced and optimized.

[2019-07-18 07:10] dkrnl opened #115 "SVGO config: deepmerge drop toString"
Hi!
thx for `imagemin-webpack`!

Example config from [svgo#674](https://github.com/svg/svgo/issues/674#issuecomment-328774019)
[code]
But after [deepmerge](https://github.com/itgalaxy/imagemin-webpack/blob/master/src/minify.js#L37) -- `toString` removed :-(

[2019-07-18 09:54] evilebottnawi commented on #115
Thanks for issue :+1:

[2019-07-23 11:08] evilebottnawi commented on #115
I think it is not bug in imagine-webpack, i can't reproduce, all works fine, `deepmerge` doesn't drop `toString()`

Input:
[code]

Output:
[code]

Remember it is change only definitions, not all id, you can find more information in svgo repo

[2019-07-23 11:29] #115 closed

[2019-08-28 08:26] clieee opened #120 "imageminWebp supported?"
I've been trying to add imagemin-webp package within the plugins section for ImageminPlugin config, but it does not output any .webp images, only .jpg, .png etc files.
Here is my config for your plugin:

`const imageMinPlugin = new ImageminPlugin({
    imageminOptions: {
        plugins: [
            imageminGifsicle({
                interlaced: true,
                optimizationLevel: 3

[2019-08-28 09:56] evilebottnawi commented on #120
Please provide minimum reproducible test repo

[2019-08-28 20:37] clieee commented on #120
Well...
It is now outputting any errors, no files, so before I go that way, is it supposed to be supporting imagemin-webp at all?

[2019-08-28 20:40] evilebottnawi commented on #120
yes it is support all plugins

[2019-08-28 21:49] clieee commented on #120
okay. I must be doing something wrong then.
I've uploaded a .zip file with a sample project I put together, if you run that you will see there is only .jpg that will be generated.
https://www.dropbox.com/s/tbm2al7mv296idd/webpack-image-compress.zip?dl=0

[2019-08-28 21:53] evilebottnawi commented on #120
@clieee thanks for link, i will look on this tomorrow :+1:

[2019-08-29 12:43] evilebottnawi commented on #120
Oh, you use the `imagemin-webpack-plugin` plugin, but it is the `imagemin-webpack` plugin, please open a issue https://github.com/Klathmon/imagemin-webpack-plugin#readme, or switch on this plugin

[2019-09-02 13:49] clieee commented on #120
I have changed to correct plugin, and images are being output. However, is this the way to actually do it? The size of both .jpg and .webp stays the same, even with different quality parameters.

[code]

[2019-09-02 13:50] evilebottnawi commented on #120
@clieee can you update reproducible test repo?

[2019-09-02 13:55] clieee commented on #120
Try this: https://www.dropbox.com/s/ke1bbp5egpz0z2r/webpack-image-compress.zip?dl=0

[2019-09-03 10:57] clieee commented on #120
@evilebottnawi did you have a chance to try it out?

[2019-09-03 10:59] evilebottnawi commented on #120
Today, late

[2019-09-10 15:12] evilebottnawi commented on #120
Update `imagemin-mozjpeg` to latest version

[2019-09-10 15:34] evilebottnawi commented on #120
Do you want 2 impages or one webp? 2 images not supported right now

[2019-09-21 13:26] syedsameerali opened #121 "Unexpected behavior with favicons-webpack-plugin"
While using the `favicons-webpack-plugin` along side the `imagemin-webpack` package, I am facing unexpected behavior regarding duplicate images being generated.

The `imagemin-webpack` plugin is generating duplicates of the images generated by the `favicons-webpack-plugin`  with hashed filenames, and in a directory different than the one specified by the `favicons-webpack-plugin`

As a beginner, I

[2019-09-23 09:55] evilebottnawi commented on #121
Yes, you need use `name: '[path][name].[ext]',` in your case (we change default value on `name: '[path][name].[ext]',` in next major release, originally plugin was design for the `file-loader` and the `file-loader` uses `[hash].[ext]`).

No, we just re emit new files. It is normal behavior for plugins.

Don't worry, you use right value for plugin.

[2019-09-23 09:55] #121 closed

[2019-09-23 10:58] clieee commented on #120
@evilebottnawi okay, to update is solving the issue of generating?
About 2 images: I want it to generate optimized .png/.jpg (if that is the source file) and also generate a .webp image for same image.

Is this what you mean not possible?

[2019-09-23 11:08] evilebottnawi commented on #120
Need implement new option for this case, in my todo

[2019-09-23 12:20] syedsameerali commented on #121
@evilebottnawi  Everything is working perfectly, and I understand now, thank you for helping!

[2019-12-22 22:26] le0nik opened #124 "Plugin fails to overwrite images emitted by favicons-webpack-plugin."
Icon emitted by `favicons-plugin` without `imagemin-webpack`:
[code]

Same icon with `imagemin-webpack` and name set to `[path][name].[ext]`(Not compressed)
[code]

Same icon but this time `name` is set to `[name].[ext]`. (Compressed)
[code]

Looks like `imagemin-webpack` can't overwrite already emitted images by `favicons-webpack-plugin`

"webpack": "4.41.4"
"imagemin-webpack": "5.1.1"
"imagemin-

[2019-12-22 22:41] le0nik commented on #124
Got it. It emits files correctly, but doesn't replace stats for those files, so i get both in output stats:

[code]

but only 1 file(compressed) in the filesystem.

[2019-12-23 00:39] #124 closed

[2020-05-01 07:43] mkhurramali opened #126 "Compilation errors when used with zsh shell on mac os (and possibly Ubuntu)"
We have a build system that required us to switch to zsh shell on our mac. We started seeing this error when making builds:

[code]

We had to downgrade `imagemin-optipng` from `7.1.0` to `6.0.0` to get the builds to work.

[2020-05-01 11:05] evilebottnawi commented on #126
Sorry, it is not `optipng-bin` repo, maybe `optipng` fail to compile on your os, I will try to catch and improve error message

[2020-06-30 15:57] glen-84 opened #127 "Add TypeScript definitions"
I'm using `imagemin-webpack` in my webpack configuration, and it would be nice to have type definitions for this loader.

This is fairly easy to add:

1. Run `npm install --save-dev typescript`.
2. Create a `tsconfig.json` file like:
[code]
3. Add `"types": "types/index.d.ts"` to `package.json`.
4. Run `npx tsc` to generate the declaration files.

(optional: Add an npm script and add some JSDoc co

[2020-06-30 16:12] evilebottnawi commented on #127
Yep, good idea, it is on roadmap for all loaders/plugins, feel free to send a PR

[2020-07-02 19:52] quiplunar opened #129 "Not working gif optimizer?"
Iam use such configuration:

[code]

package.json:

[code]

- 1.jpg(7,1MB) => 1.jpg(1,62MB)
- 1.png(7,16MB) => 1.png(2,06MB)
- 1.gif(10,33MB) => 1.gif(10,33MB)

gif image not is optimized, why?

[2020-07-03 12:00] evilebottnawi commented on #129
I don't know why. You don't provide original source, maybe there is nothing to compress :smile:

[2020-07-04 18:24] quiplunar commented on #129
Iam sorry for waiting

https://github.com/quiplunar/example

[2020-07-21 13:16] quiplunar commented on #129
https://github.com/quiplunar/example

[2020-08-24 11:28] evilebottnawi commented on #126
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-08-24 11:28] #126 closed

[2020-09-02 20:10] erichstark commented on #120
@evilebottnawi generate multiple formats is very good idea. When loading images on web, I use picture element with multiple sources and load that one which is better for browser.

[2020-09-02 20:15] evilebottnawi commented on #120
@erichstark agree, in our TODO, release will be at the end week, hope :smile:

[2020-09-06 11:33] cap-Bernardito commented on #129
This is a `imagemin` problem. There is already an open issue
https://github.com/imagemin/imagemin/issues/360

[2020-09-06 11:33] #129 closed

[2020-09-08 11:32] #120 closed

[2020-09-10 03:03] meltifa opened #158 "npm package not found"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

[2020-09-10 09:56] evilebottnawi commented on #158
Yes, it is still WIP, ETA is today/tomorrow

[2020-10-06 05:02] RomanAkhma commented on #158
Есть кто живой?

[2020-10-06 09:55] evilebottnawi commented on #158
Yep, sorry for delay, a lot of work with webpack@5

___

Как видишь по коммитам работа идет, скорее всего сегодня и будет релиз

[2020-10-07 13:34] cap-Bernardito opened #168 "`deleteOriginalAsset` option do not work in loader"
### Expected Behavior

We transform the image into a `.webp` and use `deleteOriginalAsset` option
We should to get only transformed `image.webp`

### Actual Behavior

We transform the image into a `.webp` and use `deleteOriginalAsset` option
We get `image.webp` and original image

The problem relates to `loader` in the `image-minimizer-webpack-plugin`

[2020-10-07 17:12] evilebottnawi commented on #158
Done https://github.com/webpack-contrib/image-minimizer-webpack-plugin/releases/tag/v1.0.0, feel free to use it and feel free to report about problems

[2020-10-07 17:12] #158 closed

[2020-10-07 17:25] RomanAkhma commented on #158
Thanks

Я уже совсем запутался в этих плагинах, это же бывший `imagemin-webpack`?
Наверное стоило указать в ридми 'formerly known'

[2020-10-07 17:27] evilebottnawi commented on #158
Я бывший `imagemin-webpack`, буду рад если пошлешь PR с указанием этого

[2020-10-16 17:31] jasoncomes opened #171 "Webpack 5 Compatibility"
- Operating System: MacOS Catalina
- Node Version: v12.16.3
- NPM Version: 6.14.4
- webpack Version: 5.1.2
- image-minimizer-webpack-plugin Version: 1.0.0

### Feature Proposal

Compatibility with Webpack 5. I don't see a pr or new branch regarding this, was wondering if this was part of the roadmap and if there was an ETA?

[code]

[2020-10-17 14:32] evilebottnawi commented on #171
Sorry, we don't have this deprecation, double check your version

[2020-10-17 14:32] #171 closed

[2020-10-17 14:33] evilebottnawi commented on #171
https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/master/src/index.js#L338

[2020-12-23 06:37] ericitbk opened #175 "Webpack 4 compatibility - Error 'tapProcess' undefined"
- Operating System: masOS
- Node Version: v12.14.1
- NPM Version: 6.13.4
- webpack Version: webpack@4.43.0
- image-minimizer-webpack-plugin Version: 2.0.0

### Expected Behavior

### Actual Behavior
![Screen Shot 2020-12-22 at 18 23 35](https://user-images.githubusercontent.com/16897421/102967093-c539bf00-4523-11eb-8d76-287de8c2fd86.png)

### Code

[code]

[code]

### How Do We Reproduce?

[2020-12-23 12:26] alexander-akait commented on #175
Latest version of `image-minimizer-webpack-plugin` supports only webpack@5, please consider to migrate

[2020-12-23 12:26] #175 closed

[2020-12-23 16:20] #127 closed

[2020-12-25 21:34] SamTLT commented on #168
Hello. I didn't find `deleteOriginalAsset` option, but i find `deleteOriginalAssets`. Probably you misspelled it

[2020-12-26 14:49] alexander-akait commented on #168
Yep, but bug still exists

[2020-12-26 18:56] kopax opened #177 "Cannot read property 'tapPromise' of undefined"
- Operating System: Debian Buster
- Node Version: v14.13.0
- NPM Version: 6.14.8
- webpack Version: 4.43.0
- image-minimizer-webpack-plugin Version: 2.1.0

### Expected Behavior

I expected to optimize my assets images when running `npm run build`.

### Actual Behavior

Running `npm run build` produce the error:

[code]

### Code

[code]

[code]

### How Do We Reproduce?

Using create-react-app an

[2020-12-27 13:42] alexander-akait commented on #177
Please read changelog file, latest version compatibility only with webpack@5, consider to update webpack@5

[2020-12-27 13:42] #177 closed

[2020-12-27 13:52] kopax commented on #177
Hi and thanks for your reply. Which version is compatible with v4? I use create-react-app and react-app-rewired and the version used is v4.

[2020-12-27 14:00] alexander-akait commented on #177
https://github.com/webpack-contrib/image-minimizer-webpack-plugin/tree/v1.0.0

[2020-12-28 11:52] kopax commented on #177
Hi @alexander-akait and thanks for the precision. Sorry if I could have found that myself. I have tried to build my application and the produced directory for media assets shows little of no compression.

I use version `1.0.0`, this is how I configured the plugins in `react-app-rewired` file `config-overrides.js`:

[code]

The `test.json` with the saved webpack config looks like this:

[code]

Do

[2020-12-28 12:55] alexander-akait commented on #177
You need configure `jpegtran` to compress images

[2021-01-12 04:29] clark-cui opened #181 "npm install failed"
- Operating System: windows 10
- Node Version: v14.15.1
- NPM Version:v6.14.8
- webpack Version:v5.12.3
- image-minimizer-webpack-plugin Version:v2.2.0

### Expected Behavior
i use npm install to download these packages,but i fail.Then i use yarn，i fail again.

### Actual Behavior

download fail
error
[code]

### Code

[code]

[code]

### How Do We Reproduce?

you can see my code in [here](https:/

[2021-01-12 12:30] alexander-akait commented on #181
You don't have `autoreconf` or something wrong with `autoreconf`, this error from `imagemin-gifsicle`, please open the issue in `imagemin-gifsicle` repo, thanks

[2021-01-12 12:30] #181 closed

[2021-01-27 22:45] nicobrinkkemper opened #182 "Allow filename option to be a function"
- Operating System: Ubuntu
- Node Version: 10.23.1
- NPM Version: yarn 1.22.5
- webpack Version: 5.17.0
- image-minimizer-webpack-plugin Version:2.2.0

### Feature Proposal

Allow the filename parameter to be a function

### Feature Use Case

When generating images as per suggestion in the docs [here](https://webpack.js.org/plugins/image-minimizer-webpack-plugin/) at the bottom of the page:

**Opt

[2021-01-28 10:07] alexander-akait commented on #182
Can you clarify?

[2021-01-28 14:26] nicobrinkkemper commented on #182
By adding
[code]
the images end up in `images/myimage.png` instead of `assets/images/myimage.png`. This is good!
However this generator will not be applied to webp images generated by this plugin
[code]
So now the images will start to end up in different subfolders like so
[code]
While the user probable intended to have it like so
[code]

[2021-01-28 14:30] alexander-akait commented on #182
How you import image?

[2021-01-28 14:33] nicobrinkkemper commented on #182
For example images.ts
[code]
Webpack
[code]

[2021-01-28 14:36] alexander-akait commented on #182
I'm afraid you won't get what you expect, in this case `export * from './myimage.png'` return URL to `webp` file, so `deleteOriginalAssets: false` doesn't have sense here

[2021-01-28 14:44] nicobrinkkemper commented on #182
The original images aren't being deleted, I don't think. Would removing `deleteOriginalAssets: false` affect it? I tried it but it doesn't affect the final build folder afaik

[2021-01-28 14:49] alexander-akait commented on #182
I am not against this new features, just wanted to make sure everything is correct, PR welcome, here example - https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js#L240, I think we need improve it inside webpack core, but it is out of scope this feature

[2021-02-21 00:02] strarsis opened #183 "Error: Prevent writing to file that only differs in casing or query string from already written file."
- Operating System: Windows 10 x64 (WSL 2)
- Node Version: `v14.15.4`
- NPM Version: `7.5.4`
- webpack Version: `5.x`
- image-minimizer-webpack-plugin Version: `2.2.0`

### Expected Behavior
webpack build should just run fine, without an error message because of duplicate file names.

### Actual Behavior
webpack build fails with error, the files are generated.
[code]

### Code
[code]

### How Do W

[2021-02-21 00:03] #183 closed

[2021-02-21 00:04] strarsis commented on #183
Wrong repository (https://github.com/dazuaz/responsive-loader).

[2021-03-10 22:14] happysalada opened #188 "Upgrade https://github.com/imagemin/imagemin-svgo dependency to next major version"
- Operating System: MacOS
- Node Version: 15.8
- NPM Version: yarn 1.21
- webpack Version: 5.24.4
- image-minimizer-webpack-plugin Version: 2.2

### Feature Proposal
Imagemin-svgo came up with a new version recently (9.0). It would be good at some point to update the dependency
I don't think there is any rush

### Feature Use Case

[2021-03-11 12:09] alexander-akait commented on #188
We don't install `imagemin-svgo` directly, please update it on own side https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/master/package.json#L54

[2021-03-11 12:09] #188 closed

[2021-03-11 12:15] happysalada commented on #188
My bad, thanks!

[2021-03-17 12:18] bechtold opened #190 "Error in Plugin name should be specified"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [x] Not Sure?
- [x] Broken

### Please Explain in Detail...
Hey,
I'm using Webpack 5 using the Asset Module for images as described in the [Asset Management](https://webpack.js.org/guides/asset-management/#loading-images) documentation.

Now I added the [ImageMinimizerWebpackPlugin](https://webpack.js.org/plugins/image-minimizer-webpa

[2021-03-17 12:23] alexander-akait commented on #190
Please create reproducible test repo

[2021-03-17 14:09] waltercruz commented on #190
The problem appears when using imagemin-svgo 9.0.0

[2021-03-17 14:10] alexander-akait commented on #190
I think you need open an issue in `svgo`, we just `imagemin` runner with plugins

[2021-03-17 14:11] alexander-akait commented on #190
https://github.com/svg/svgo

[2021-03-17 16:36] bechtold commented on #190
Sorry, I didn't find the time yet to create a reproducible repo, but I'm pretty sure the issue is not on svgo side.
And I actually found out more on the svgo documentation.
Instead of
[code]
we need
[code]
Then it works fine and as expected.

But there is another thing I want to point out. On the svgo docs it says: "The default list is fully overridden if the `plugins` field is specified.". So wit

[2021-03-17 16:37] bechtold commented on #190
Ok, I'll just create a demo and then create a PR. Will try to do it on the weekend :-)

[2021-03-17 16:53] alexander-akait commented on #190
Yep, feel free to update docs

[2021-03-23 15:17] CavalcanteLeo commented on #190
I'm getting the same error:

![Uploading Captura de Tela 2021-03-23 às 12.17.20.png…]()

[2021-03-23 15:22] alexander-akait commented on #190
@CavalcanteLeo How it should help?

[2021-03-23 15:35] bechtold commented on #190
@CavalcanteLeo did my suggested config work for you?
Didn't find time for the PR yet. But it would be good to know if my solution also solves your problem :-)

[2021-03-23 15:37] CavalcanteLeo commented on #190
sure i will try later today, and then i tell u...
thanks

[2021-04-12 10:57] Bosch-Eli-Black commented on #190
@bechtold Your config worked for me, thanks! 🙂

[2021-05-02 16:23] calebTree commented on #168
I wasn't able to reproduce. Original assets were removed in my configuration. `image-minimizer-webpack-plugin@2.2.0`

[2021-05-02 21:33] calebTree commented on #168
I was able to reproduce this bug in `image-minimizer-webpack-plugin@2.2.0` when I used the `[path]` substitution in the filename option.

I just want to keep this example below which does work for reference.

The "original asset" is coming from the loader; Below `deleteOriginalAssets: true,`:

[code]
Prevents file emission from:

[code]
Using `imagemin-webp` the filename option must be included to

[2021-05-19 11:36] alexander-akait opened #194 "support squoosh"
https://github.com/GoogleChromeLabs/squoosh/pull/1002/

[2021-05-27 16:44] #190 closed

[2021-05-28 10:47] flo-sch commented on #127
Sorry to ask on this closed issue but how can we access the different types?

From `types/cjs.d.ts`, it seems only the default `ImageMinimizerPlugin` is re-exported.
I would like to use the `PluginOptions` type for instance (to reference it in a shared configuration)

So far the workaround I found is:

[code]

But is there a way with a single import?

[2021-05-28 11:24] alexander-akait commented on #127
PluginOptions is any, but yes we should improve this, we prepare new major release, I will try to improve this

[2021-05-28 12:47] flo-sch commented on #127
Hi @alexander-akait, thanks for the quick answer :)

I was thinking about this interface: https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/master/types/index.d.ts#L6

It is pretty good I think, but I'd rather be able to import it from the package:

[code]

[2021-05-28 12:55] alexander-akait commented on #127
You can get them from `ImageMinimizerPlugin`, i.e. `ImageMinimizerPlugin['options']`, types some wrong right now

[2021-06-02 15:41] #194 closed

[2021-06-04 16:45] #182 closed

[2021-06-21 11:22] adminwp opened #216 "Bog In Plugin image-minimizer-webpack-plugin"
Hi, when I create an instance of the module when of image-minimizer-webpack-plugin new instance created, it gives me an error and says that there is no property called minify, please correct this bug

![bug](https://user-images.githubusercontent.com/55583600/122754241-a3d64780-d2a8-11eb-8faa-54170b3965cf.PNG)
![result](https://user-images.githubusercontent.com/55583600/122754256-a89afb80-d2a8-11eb

[2021-06-22 16:07] impy88 commented on #216
Hello,

Can someone release 2.2.1 from the master branch, please?  It got fixed there.

Cheers,

[2021-06-22 16:12] alexander-akait commented on #216
We are preparing the new major release, some problems, please use docs from here now https://github.com/webpack-contrib/image-minimizer-webpack-plugin/tree/v2.2.0

[2021-06-23 21:49] billyjanitsch opened #217 "`module.rule.generator.emit = false` results in different emitted filenames"
- Operating System: macOS
- Node Version: 14.17.0
- NPM Version: 7.18.1
- webpack Version: 5.40.0
- image-minimizer-webpack-plugin Version: 2.2.0

### Expected Behavior

When `module.rule.generator.emit` is set to `false` for asset resources, webpack is supposed to emit the same filename as when it's set to `true`.

### Actual Behavior

This doesn't work correctly if there's an image minimizer in

[2021-06-23 21:56] alexander-akait commented on #217
Please do not duplicate issues

[2021-06-23 21:58] alexander-akait commented on #217
Here bug https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/v2.2.0/src/loader.js#L58

[2021-06-23 21:59] alexander-akait commented on #217
Please add configuration for https://github.com/billyjanitsch/webpack-bug-emit-hash

[2021-06-23 22:00] billyjanitsch commented on #217
The configuration is [here](https://github.com/billyjanitsch/webpack-bug-emit-hash/blob/2b5addaf87482e00a39b24bdefbaf6fad3941c3a/test.js#L5-L16).

[2021-06-23 22:01] alexander-akait commented on #217
We prepare big refactor of the plugin and loader in near future, and will solve this problem, right now please disable `loader` https://github.com/webpack-contrib/image-minimizer-webpack-plugin#standalone-plugin

[2021-06-23 22:05] billyjanitsch commented on #217
Thank you for the fast reply.

Disabling `loader` does not fix the issue. See [this commit](https://github.com/billyjanitsch/webpack-bug-emit-hash/commit/446a43d29cfbd8a54effb5c85a8cd59384dda9a6); the test still fails.

[2021-06-23 22:06] alexander-akait commented on #217
I will look at this deeply in near future

[2021-06-25 08:10] sampolahtinen commented on #216
@alexander-akait  does this mean that squooshMinify cannot be used currently? Confused a bit

[2021-06-25 11:32] alexander-akait commented on #216
@sampolahtinen yep, bug on their side and still not published new version

[2021-07-06 09:14] tomsommer opened #222 "options has an unknown property 'minify'. These properties are valid:"
Version 2.2.0 following docs to use squoosh
[code]

[2021-07-07 11:37] mjpieters commented on #222
Looks like the distribution doesn't include the updated `src/plugin-options.json` file; I replaced `node_modules/image-minimizer-webpack-plugin/dist/plugin-options.json` with the raw contents of https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/master/src/plugin-options.json to fix this issue locally.

[2021-07-07 13:14] mjpieters commented on #222
Version 2.2.0 doesn't yet include that option; the feature was added in May, while 2.2.0 was released in January.

[2021-07-07 14:03] alexander-akait commented on #222
Yep, release will be in near future, with a lot of good features

[2021-07-08 11:32] tomsommer commented on #222
Fair enough, they just forget to say that on https://webpack.js.org/plugins/image-minimizer-webpack-plugin/ :)

[2021-07-09 07:59] mjpieters opened #223 "Include filename in squoosh error report"
- Operating System: MacOS
- Node Version: 16
- NPM Version: 7
- webpack Version: 5
- image-minimizer-webpack-plugin Version: checkout from git, revision 3a38d927ff

### Expected Behavior / Situation

There is an image in my project that is not being accepted by libsquoosh. When running webpack, I'd like image-minimizer-webpack-plugin to tell me what image that is so I can troubleshoot the situatio

[2021-07-09 09:14] mjpieters commented on #223
I also figured out why the image caused problems: the plugin passes in the _whole buffer_, which contains more than just the image file.

See [this Stack Overflow answer](https://stackoverflow.com/a/54646864/100297) for why this is a bad idea; libsquoosh takes the whole underlying buffer and so won't always be able to detect the image type.

I fixed it locally by passing in the correct portion of

[2021-07-09 12:14] mjpieters commented on #223
I've filed https://github.com/GoogleChromeLabs/squoosh/issues/1095, lets see what the squoosh team thinks.

[2021-07-12 19:19] alexander-akait commented on #222
Duplicate https://github.com/webpack-contrib/image-minimizer-webpack-plugin/issues/216, release will be soon, sorry for this

[2021-07-12 19:19] #222 closed

[2021-07-13 17:03] alexander-akait commented on #168
Fixed in master, we redesign approach for generation and it will be documented in README

[2021-07-13 17:03] #168 closed

[2021-07-15 13:13] alexander-akait opened #225 "Union with `image-webpack-loader`"
I think will be great to unioin with  `https://github.com/tcoopman/image-webpack-loader`, we already supports these feature and more, so I think we should finish the next major release with more features + `squoosh` support :star: and try to union

/cc @tcoopman What do you think? I can provide more information

[2021-07-16 06:08] tcoopman commented on #225
What do you mean with union?

I'm still maintaining but not actively developing image-webpack-loader. So if this repo is integrating more features and implementing squoosh I'm willing to point to this repo from mine.

Did you have anything else in mind?

[2021-07-16 11:19] alexander-akait commented on #225
Yep, I mean deprecate `image-webpack-loader` in favor `image-minimizer-webpack-plugin` (describe it in readme and maybe in npm with migration guide), if you want to help us I can invite your so we can continue working on the same problem

[2021-07-19 20:40] alexander-akait commented on #225
Plus it will allow us not to do the same job :+1:

[2021-07-20 19:49] rfajardo-tiempo commented on #216
Not sure if this is the right place to write. I'm getting an error when i try to use this module as a loader:
![loader](https://user-images.githubusercontent.com/77694629/126384138-b07d5e1f-a03d-45f4-873c-26ba0d289eb9.png)
And display this next error:
![Captura de Pantalla 2021-07-20 a la(s) 14 20 00](https://user-images.githubusercontent.com/77694629/126383175-4a76940f-2898-4d11-89dc-fbadc83a55e8

[2021-07-21 11:37] alexander-akait commented on #216
You need webpack v5 to use the latest version

[2021-07-22 22:00] thasmo commented on #120
@alexander-akait, time flies. :) Is the `webp` issue related to this error message?

I get this error message when I use two configurations.
[code]

[2021-07-23 10:51] alexander-akait commented on #120
Yep, we are working on the new version, there it will be solved

[2021-08-20 08:43] evont commented on #216
Is there any progress now?

[2021-08-20 10:46] alexander-akait commented on #216
Hope will be finished on the next week

[2021-09-06 07:03] khnn commented on #216
Hey there, has the new version of squoosh  released currently fixed the issue?

[2021-09-06 08:52] PodaruDragos opened #236 "Add typescript type definitions"
Are there any plans to add typescript type definitions ?

### Feature Proposal
Add support for typescript type definitions.

### Feature Use Case
Having a `webpack.config.ts` file will result in errors for not providing a type definition for this.

[2021-09-06 11:22] alexander-akait commented on #236
https://github.com/webpack-contrib/image-minimizer-webpack-plugin/tree/master/types

[2021-09-06 11:22] #236 closed

[2021-09-14 22:32] pgSSO commented on #216
@alexander-akait

Can you update just status/problems on this?
Certainly understand that stuff happens, but it would be helpful to get an idea of whether it's realistic to move off imagemin* to current squoosh minify, or need to find something else.

[2021-09-17 10:59] p17gh commented on #216
Hi @alexander-akait

I was working on moving to this plugin+squoosh, from imagemin which has been causing some other problems here, and got hit with this issue.

I looked through the issue list and didn't notice a different thread about it.

Is solving this issue still waiting on a release of image-minimizer-webpack-plugin? Or also squoosh?

Thanks a lot for any info just to help plan.

[2021-09-17 11:14] alexander-akait commented on #216
Hello, I just don't have time to finish PR, it is in my todo list on the top, right now I am working on new CSS features, after I will return to this and finish, maybe even in this weekends

[2021-09-17 11:23] khnn commented on #216
@alexander-akait thank you for clarifying. is it possible to give a little context on what the issue is, maybe one could help with the pr.

[2021-09-17 11:26] alexander-akait commented on #216
This is mostly finished https://github.com/webpack-contrib/image-minimizer-webpack-plugin/pull/220, need finish:
- presets, i.e. you can generate images like `.class { background: url('./image.png?as=webp&width=100&height=150') }`
- generator from copied assets, rare usage, but still can be valid
- squash update + fix problems with multi threading and memory leaking (but this work should be done t

[2021-09-21 04:55] lizthegrey opened #237 "this webpack plugin should use ESM, or indicate incompatibility with ESM"
### Modification Proposal

https://github.com/imagemin/imagemin-svgo/releases/tag/v10.0.0 requires all modules that import it to support ESM; while v9.0.0 continues to work fine, there should be something added to indicate that imagemin-svgo should _not_ be upgraded until this package is upgraded to ESM as well.

### Expected Behavior / Situation

SVG packing and optimization should happen correct

[2021-09-21 07:05] alexander-akait commented on #237
We can migrate on `import()`

[2021-09-24 04:27] minhtranite opened #238 "Path to image wrong in css file when use "contenthash"."
### Bug report

When using`[contenthash]` for `assetModuleFilename` like this:
[code]
The filename of the asset output is not the same as the `url` in the CSS file.

### Actual Behavior
File names are different between CSS url and output files.

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/5418628/134617576-3ccb88b8-7732-426a-a710-ea41a642d808.png">

### Expected Be

[2021-09-24 09:28] alexander-akait commented on #238
You have `file-loader`, it is deprecated for css-loader v6

[2021-09-27 06:31] xueeryang opened #239 "FATAL Cannot read property 'tapPromise' of undefined"
my project is nuxt, and the plugin version is 2.2.0, he will report a error:

` FATAL  Cannot read property 'tapPromise' of undefined                                                                                                                                                                        10:09:04

  at node_modules\image-minimizer-webpack-plugin\dist\index.js:304:39
  at SyncHook.eval

[2021-09-28 16:39] p17gh commented on #216
Looking for some advice from anyone else working with image minification in webpack.

Since imagemin development & support on webpack from other plugins has been halted, and points here to "use squoosh instead",

and

since the plugin here doesn't work, and sounds like @alexander-akait is really, badly time/resource limited,

are there any solid alternatives for image minification that you're usin

[2021-09-28 17:59] jimblue commented on #225
It will also make things less confusing for Webpack user 😉

[2021-09-28 18:04] tcoopman commented on #225
@alexander-akait can you create a PR with the deprecation and migration guide?

[2021-09-30 14:02] alexander-akait commented on #239
You need webpack v5 to use this plugin, but you still on webpack v4, run `npm ls webpack`, please ask to `nuxt` team update webpack, sorry we can't fix it here

[2021-09-30 14:02] #239 closed

[2021-09-30 14:02] alexander-akait commented on #216
I will continue work tomorrow/weekend, sorry for delay

[2021-09-30 14:03] alexander-akait commented on #225
@tcoopman Yep, I will do it, I am preparing the next major release with many features, so I will do it together

[2021-11-08 11:42] p17gh commented on #216
@PodaruDragos
I guess you'd want to not support imagemin anymore AFTER squoosh works, which it still doesn't.
I needed a working solution so I switched my projects to Rollup.  Figuring out the differences with webpack wasn't that hard, just took a little time.
Now everything's working so far.

[2021-11-08 11:59] alexander-akait commented on #216
I will finish this task on this week, sorry for delay, a lot of work, we will support not only minimizing and generation, i.e. you can use like:
[code]
[code]
[code]

and more

[2021-11-09 02:41] Clarkkkk commented on #238
Same here. Using `optimization.realContentHash: false` can avoid this problem.

[2021-11-19 00:42] cktang88 commented on #222
Any update on when there will be a release?

[2021-11-29 16:47] #237 closed

[2021-12-01 00:47] alexander-akait commented on #238
Please update `mini-css-extract-plugin` to the latest stable version

[2021-12-01 00:59] alexander-akait commented on #238
Bug in mini-css-extract-plugin - fixed in `2.4.x` version with new API

[2021-12-01 01:58] minhtranite commented on #238
I updated and it works. Thank you @alexander-akait

[2021-12-01 01:58] #238 closed

[2021-12-01 08:21] gyh9457 commented on #216
When will this feature be released? @alexander-akait

[2021-12-01 10:35] alexander-akait commented on #238
We migrate on the new API, old API has bugs, so I recommend to update `mini-css-extract-plugin`

[2021-12-01 21:22] #216 closed

[2021-12-02 18:02] PavloUlanenko opened #265 "Update package in npm registry accordingly"
### Bug report

### Actual Behavior

Hello!
While updating my node modules I came across the issue that the version of the plugin on github
https://github.com/webpack-contrib/image-minimizer-webpack-plugin
coincide with the one published on npm
https://www.npmjs.com/package/image-minimizer-webpack-plugin
(v2.2.0)
Nonetheless the packages differ - the last changes on npm have been made a year ago,

[2021-12-02 18:10] alexander-akait commented on #265
I am working on it right now, you can look at commits, release will be today/tomorrow

[2021-12-05 21:48] alexander-akait commented on #223
Fixed by https://github.com/webpack-contrib/image-minimizer-webpack-plugin/pull/278, regarding to the problem with buffer, let's wait answer from `squoosh`, we use their standard API and example from docs, sorry for delay with fix, I was very busy and have a lot of tasks :disappointed: Feel free to open an issue regarding when `squoosh` give an answer, sorry again

[2021-12-05 21:48] #223 closed

[2021-12-05 21:48] #265 closed

[2021-12-05 21:57] alexander-akait commented on #217
Fixed, sorry for big delay, we rewrite plugin from scratch and now have better support asset modules, here example to generate webp and oprimize images, please try https://github.com/webpack-contrib/image-minimizer-webpack-plugin#optimize-and-generate-webp-images

[2021-12-05 21:57] #217 closed

[2021-12-17 09:58] Airkro opened #283 "[Bug] `data:` protocol trigger error"
### Bug report

<https://github.com/webpack-contrib/image-minimizer-webpack-plugin/pull/270> add `data:` protocol support.

It' will trigger errors in some cases.

### Actual Behavior

import `data:text/*` trigger error because, the implementation only accept image format

It also breaks `html-webpack-plugin@5`, see that in reproduce sandbox.

https://github.com/jantimon/html-webpack-plugin/blob/0

[2021-12-17 11:02] alexander-akait commented on #283
Ideally you should ignore them in custom minimizer too, because your minimizer potentially can't support them too, anyway we should improve this, because we do a lot of unnecessary works and improve speed, I will fix it

[2021-12-17 11:41] #283 closed

[2021-12-20 19:41] dx1ded opened #286 "jpg is not rendering as file using imagemin-webp"
### Situation

webpack version: 5.56.0
image-minimizer-webpack-plugin: ^3.1.2

Hello! I tried to use imagemin-webp. In the first case i took png file and it was ok, in the result i've got a image.webp file. In the second case i took .jpg file and it was rendered like base64 in src attribute but i need a .webp file. How can i do this?

![image](https://user-images.githubusercontent.com/45831463/146

[2021-12-20 19:45] alexander-akait commented on #286
It is still webp, you use asset modules https://webpack.js.org/guides/asset-modules/, by default webpack convert to base64 small images, if you need file please use `type: "asset/resource"`, you can find more information here https://webpack.js.org/guides/asset-modules/

[2021-12-20 19:47] dx1ded commented on #286
@alexander-akait thx <3

[2021-12-20 19:47] #286 closed

[2021-12-21 17:32] eamodio opened #287 "Support for processing images using CopyWebpackPlugin doesn't work in v3"
Hi -- I'm trying to upgrade to v3, but I can't seem to get the new version to work in concert with the `CopyWebpackPlugin`.

Basically I'm moving a bunch of `png`s into a specific folder and then am converting them to `webp`.

Here is my current webpack config if that helps any: https://github.dev/gitkraken/vscode-gitlens/blob/15e4f478c3e84c78552c7531dbbbaa926c91ed35/webpack.config.js#L379-L398

H

[2021-12-21 18:28] alexander-akait commented on #287
Note - `TerserPlugin` supports `esbuild` better than `ESBuildMinifyPlugin`, i.e. we supported cache and multi threading, just use https://github.com/webpack-contrib/terser-webpack-plugin#esbuild

[2021-12-21 18:49] eamodio commented on #287
@alexander-akait Thanks will check that out!

[2021-12-21 22:43] dx1ded opened #288 "exclude sub directory"
Hey there! If you need support, help, or advice then this is not the place to ask.
I have such structure:

![image](https://user-images.githubusercontent.com/45831463/147006980-bd3accb0-d089-47cb-856a-749af95ff2d4.png)

How can i exclude **svg** folder? (because it processed by another loader)
Oh, here's my loader code:

![image](https://user-images.githubusercontent.com/45831463/147007071-406ff76

[2021-12-22 11:11] alexander-akait commented on #288
Please use `exclude: /(\/|\\)svg(\/|\\)/`, you can put more directories before/after

[2021-12-22 11:11] #288 closed

[2021-12-22 11:39] dx1ded commented on #288
@alexander-akait Thank you! You saved my work twice)

[2021-12-22 13:45] alexander-akait commented on #287
These options generate webp image:
[code]

But it looks some confusing in option names and doesn't allow to keep original images...

[2021-12-22 13:49] alexander-akait commented on #287
Oh, I was wrong, `deleteOriginalAssets` allow to keep them

[2021-12-22 23:38] eamodio commented on #287
@alexander-akait awesome thank you! I got it working using `imagemin` (though setting `deleteOriginalAssets` to `true` doesn't delete them).

And then I tried to switch to `squoosh`, but when I do that I get the a ton of the following:

[code]

I found this related issue if it helps: https://github.com/GoogleChromeLabs/squoosh/issues/1065

[2021-12-23 10:33] alexander-akait commented on #287
Yes, `squoosh` has memory problems...

[2021-12-23 10:34] alexander-akait commented on #287
How many images do you have and their size?

[2021-12-23 20:30] eamodio commented on #287
There are 82 of them: https://github.com/gitkraken/vscode-gitlens/tree/main/src/webviews/apps/images/settings

They range in size but none are more than 45kb and most are 10kb or less.

[2021-12-24 11:56] alexander-akait commented on #287
Strange... Maybe you can create small reproducible example? I want to investigate

[2021-12-24 12:27] alexander-akait commented on #287
Also check a version, because we fixed memory leaks here https://github.com/webpack-contrib/image-minimizer-webpack-plugin/releases/tag/v3.0.1

[2021-12-24 14:21] alexander-akait commented on #287
Anyway I improved some places and add more tests, especial caches and no misleading options, I will update docs and do release

[2021-12-25 16:11] alexander-akait commented on #287
Implemented, here example https://github.com/webpack-contrib/image-minimizer-webpack-plugin#generate-webp-images-from-copied-assets, feel free to feedback, also if you provide example of the problem with memory leaking, I will investigate it

[2021-12-27 11:48] dx1ded opened #290 "Images bug in dev server"
Hello! I tried to use this plugin in dev server but there's something strange. I have generators (for `.webp` and `.avif`) and i try to require it in HTML (in my case it is `.pug` but never mind). When i have one require it is ok, but when i have two requires or more - the last require generates image, each previous returns default value (in my case it is `.jpg`).

### Video demonstation:

[*click

[2021-12-27 11:50] alexander-akait commented on #290
Bug in `html-webpack-plugin`, sorry I can't fix it here

[2021-12-27 12:09] dx1ded commented on #290
I'm sorry, what did you mean? This bug connected with html-webpack-plugin only?

[2021-12-27 12:18] alexander-akait commented on #290
Yes, bug happens only with `html-webpack-plugin`, please report them

[2021-12-27 12:19] dx1ded commented on #290
Ok, thanks!)

[2021-12-27 12:19] #290 closed

[2021-12-27 12:26] alexander-akait commented on #290
Anyway I recommend do not use `loader` directory - https://github.com/dx1ded/webpack-mpa/blob/main/webpack.config.js#L124, just setup plugin, by default plugin enable loader under the hood, just set `test` for plugin (and the same value will be applied for loader), also if you need generate images for copy plugin you need some more options https://github.com/webpack-contrib/image-minimizer-webpack

[2021-12-30 21:37] eamodio commented on #287
@alexander-akait Thank you!

So I tried it out both integrated with my GitLens build and also as a completely separate webpack config (for debugging). and even with the latest I still see the memory errors when integrated into the GitLens build, but not when it's part of its own config.

While not a simple sample, if you clone https://github.com/gitkraken/vscode-gitlens, and `yarn install` you can

[2022-01-03 15:10] alexander-akait commented on #287
hm, interesting, on one computer I reproduced the problem on another no... investigating....

[2022-01-03 15:31] alexander-akait commented on #287
Found leaking... wip on fix

[2022-01-03 16:20] patrikjuvonen opened #292 "Inline UTF8 SVG URL gets encoded into base64, but the base64 extension is missing"
### Bug report

Preinlined SVG does not show in browser.

### Actual Behavior

A preinlined UTF8 SVG gets encoded correctly into base64 when using `ImageMinimizerPlugin.imageminGenerate`, but the standard base64 extension is not added to the final output, so the image does not show in browser.

`data:image/svg+xml;utf8,[...]`

Is this a bug, or am I using the plugin wrong?

### Expected Behavior

[2022-01-03 17:19] alexander-akait commented on #287
@eamodio Fixed https://github.com/webpack-contrib/image-minimizer-webpack-plugin/pull/293, works with with your examples, unfortunately it is slow than imagemin (and the problem in `squoosh`, that is strange, because `squoosh` create worker only once, `imagemin` do it on each call), my first idea - the problem in double buffer converting, investigating it too

[2022-01-03 17:41] alexander-akait commented on #287
I was wrong, the problem in wasm and buffers, moving buffer to wasm files and versa vice eats many time, don't have ideas how we can fix it here...

[2022-01-03 17:51] eamodio commented on #287
So the issue (leak) is fixed, but the performance with squoosh is worse? Did the fix make the performance worse or was squoosh already slower than imagemin?

[2022-01-03 18:04] alexander-akait commented on #287
Yes, fix is here https://github.com/webpack-contrib/image-minimizer-webpack-plugin/pull/293, but fix is not related to perf at all, I didn’t take into account what could be child compilations, so we start multiple workers and due to this we have memory leaks, I tried to improve perf on this PR too, but no luck, I can increase number of workers based on CPU, but this does not provide any significan

[2022-01-03 18:38] eamodio commented on #287
Ah gotcha -- thanks for the clarification. And thanks so much for the investigation and fix! Even if the perf is worse, I'll be happy to switch over to squoosh over imagemin as the later is now unmaintained.

Thanks again!

[2022-01-03 18:56] alexander-akait commented on #292
hm, there is other problem, we should not convert it to `base64`, we should just compress image and return it to webpack, and webpack will take a care about base64 (or not) using https://webpack.js.org/configuration/module/#ruleparserdataurlcondition

[2022-01-03 19:11] #292 closed

[2022-01-03 19:13] alexander-akait commented on #287
Please try https://github.com/webpack-contrib/image-minimizer-webpack-plugin/releases/tag/v3.2.1, tomorrow I will do deep investigation about perf

[2022-01-03 19:34] patrikjuvonen commented on #292
Thank you for the quick response and fix!

[2022-01-03 19:36] eamodio commented on #287
Woo! Works -- thanks so much!

[2022-01-06 16:58] alexander-akait commented on #287
After investigation found:
1. One improvement on our side, we don't need to use `1` https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/master/src/utils.js#L701, because we fixed problems with multi threading in previously PRs, it will speed up build around 10-20%
2. Ineffective multi threading logic - https://github.com/GoogleChromeLabs/squoosh/blob/dev/libsquoosh/src/index.ts#

[2022-01-07 11:34] alexander-akait commented on #287
Please try https://github.com/webpack-contrib/image-minimizer-webpack-plugin/releases/tag/v3.2.2, using your repo I have speed up around 2-3 second

[2022-01-08 22:26] eamodio commented on #287
@alexander-akait switching to `3.2.2` causes the memory errors to come back for me.

[2022-01-10 10:46] alexander-akait commented on #287
hm, weird, how often it happens? I tried locally and all works fine using your repo

[2022-01-10 15:57] eamodio commented on #287
Odd, happened every time with the `yarn run watch` build.

[2022-01-10 16:16] alexander-akait commented on #287
I will look at this in near future

[2022-01-11 11:31] alexander-akait commented on #287
@eamodio Can you provide command which you use, I tried different configuration using https://github.com/gitkraken/vscode-gitlens and all works fine... Memory is not high...

[2022-01-13 20:25] PodaruDragos opened #296 "Typescript types are not correct"
### Bug report
I am running a `webpack.config.ts` config file and the types are incompatible.

### Actual Behavior
This is copied from the `README` of this repo.

[code]

[code]

### Expected Behavior
I would expect no typescript errors

### How Do We Reproduce?
Use a `webpack.config.ts` file and the error should be there.

[2022-01-13 20:30] alexander-akait commented on #296
Because it is generic class and we don't provide default minimizer, you should specify it, please use:
[code]

[2022-01-13 21:21] #296 closed

[2022-01-22 05:33] eamodio commented on #287
@alexander-akait sorry I missed this. It happens for me anytime using the `yarn run watch` command.

[2022-01-22 13:39] alexander-akait commented on #287
Should I use your repo to test it? Because I tried to run watch and all works fine...

[2022-02-06 12:23] pgnd opened #302 "squooshGenerate error: " TypeError: Cannot read properties of undefined (reading 'get')""
with squooshMinify
[code]

png minification works.

switch, instead, to squooshGenerate, for png->webp generation,
[code]

on build, fails
[code]

[code]

[2022-02-06 14:40] alexander-akait commented on #302
Bug in `webpack-assets-manifest`

[2022-02-07 13:09] pgnd commented on #302
@alexander-akait

You're right that the issue involves 'manifest'.

But, digging further, I suspect it may be my config/usage, not a bug :-/

I load process Images in Webpack5 using ImageMinimizerPlugin + squoosh

For the simple case, with images imported into .js, and NO manifest,
this now works,
[code]

When i *add* WebpackAssetsManifest usage,
[code]
and switch to the generator, there's problem

[2022-02-07 13:40] alexander-akait commented on #302
Because `WebpackAssetsManifest` doesn't support renamed assets, sorry we can't fix it here, if you provide github repo I will show there is problems happens and how to fix it

[2022-02-11 13:26] pgnd commented on #302
@alexander-akait

fyi, i've provided reproducer over @

https://github.com/webdeveric/webpack-assets-manifest/issues/219#issuecomment-1034210018

[2022-02-17 11:37] pgnd commented on #302
@alexander-akait

could you suggest that fix?  either here, or at the

https://github.com/webdeveric/webpack-assets-manifest/issues/219#issuecomment-1034210018

?

[2022-02-17 14:08] alexander-akait commented on #302
I think I known why it happens, can you provide reproducible test repo, so I will check it

[2022-02-17 14:08] alexander-akait commented on #302
Oh, seems you have https://github.com/pgnd/test01.git, give me time

[2022-02-17 15:31] alexander-akait commented on #302
The problem is not in hash, you see it due another root problem, when you enable image generation, i.e. `png` -> `webp` we don't pass `sourceFilename` (i.e. original filename), but original filename is `TEST.png` https://github.com/webdeveric/webpack-assets-manifest/blob/master/src/WebpackAssetsManifest.js#L570, yes we can rename it to webp and it is not a problem, but I think it can invalid, beca

[2022-02-17 15:42] pgnd commented on #302
Hm.

It's not simply an issue of re-naming, is it?

The source file *IS* a .png,
[code]

and the `generated` file *IS* a .webp
[code]

and that's the ONLY file generated -- i.e. `TEST.[hash].webp`

so, iiuc, the manifest correctly must reference "TEST.webp" as the key, for the path to the generated file value.

in layout source, then, the generated asset is correctly referenced as the *key*, "TEST

[2022-02-17 16:21] webdeveric commented on #302
@alexander-akait What other info properties should I support? If there are any other commonly used properties besides `sourceFilename`, then I'd be willing to add support for those.

@pgnd Since the `.png` is the original source for the `generated` `.webp`, I think the key should be the `.png` file, but I'm open to feedback based on how other devs want it to behave.

For all assets in a build, (re

[2022-02-17 16:52] pgnd commented on #302
@webdeveric

My intended plan, at least, was to structure my project with *sources* of any image type (png, webp, jpeg, gif, etc), and use squoosh generator to convert all source types to webp *generated*, hashed (cache-bustable) assets.

Then, in my layout, to reference all image assets as the UNHASHED .webp ( `< img src="test.webp" ...> ), which, when retrieved by key:value reference from the ma

[2022-02-17 16:52] alexander-akait commented on #302
@webdeveric Yep, that is why I am thinking it should be `TEST.png`, but developer can generates more assets and keep some of them as is, i.e. we can have `image.[hash].png`/`image.[hash].web`/`image.[hash].avif`, so for both we will have `image.png` key and it is a collision for JSON (because we we just override previously key).

From DX experience make sense to have `image.[original_ext]` because

[2022-02-17 17:00] alexander-akait commented on #302
@pgnd Again, the problem is not in hash, we can drop hash and do what your expected, but it can create another problems, what is why we need discussion here, for example you can have `image.webp` (using `copy-webpack-plugin`) and `image.png` and generate webp from `image.png`, and you will have collision in your assets manifest.

[2022-02-17 17:03] pgnd commented on #302
For my use case, that doesn't 'fit'.  At least, not yet.

My current frontend is php/laravel.
My layout is in twig templates.
My assets are referenced in layout templates as

[code]

or,
[code]

etc.

where `webpack_asset` is a simple Twig filter to pull assets' values from manifest
[code]

Works perfectly ... in the non-generated, non-coverted case

[2022-02-17 17:05] alexander-akait commented on #302
@webdeveric In theory we can do it:
[code]

Ideally format of assets manifest should be another, i.e.
[code]

So we will have ability to add any numbers of fields - `generated`, `size` and even more, so developer can construct any complex logic around, for example I can decide to change output based on size of asset when I do SSR.

But I understand it will be big breaking change. So I want to hear

[2022-02-17 17:08] alexander-akait commented on #302
@pgnd Please read the problem carefully, we try to protect assets manifest from collisions, you can always change logic of `getWebpackAsset`, it is not hard, we can't just use `TEST.webp` as you want to see, because it is unsafe and it is wrong

[2022-02-17 17:58] webdeveric commented on #302
@alexander-akait I'll think on how to keep and manage the associations of source file to generated files. I'll _try_ to work on it after work today.

[2022-02-18 11:03] alexander-akait commented on #302
@webdeveric Feel free to ping me, we can do it together

[2022-02-26 18:59] mjpieters commented on #223
One of the project maintainers has acknowledged it is a bug on their side now; see GoogleChromeLabs/squoosh#1095 (7 months later, after someone else also ran into the issue).

[2022-03-20 14:51] drinking-code opened #306 "Documentation: Typo in the squoosh-generator-resize section"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The documentation for the [resize option of the squoosh generator](https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/addec3a481b878a40ea11270ad5f5e9531ddb7c4/README.md?plain=1#L891) has a typo:
[code]

### Your Proposal for Changes

Notice that the resize option is i

[2022-03-20 14:58] alexander-akait commented on #306
PR welcome

[2022-03-20 16:22] drinking-code commented on #306
maybe a `good first issue`?

[2022-03-22 11:17] dKustura commented on #237
For people who are still getting the `Unknown plugin` error, even after upgrading and installing all needed packages, try to upgrade your `webpack-cli` dependency. This finally did it for me.

After catching the original error `TypeError: Invalid host defined options` it led me to this similar [issue](https://github.com/webpack-contrib/copy-webpack-plugin/issues/653) mentioned [here](https://stack

[2022-04-03 11:48] #302 closed

[2022-04-18 09:10] andreidiaconescu opened #313 "How to use image-minimizer-webpack-plugin in an Angular application"
Documentation Is:

- [ X] Missing
- [ X] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

I have been trying to install, configure and use image-minimizer-webpack-plugin with an angular 13 application, but i have found no clear, complete and up to date example of how to do this.
Any help would be appreciated.
Thank you

### Your Proposal for Changes

[2022-04-18 18:11] alexander-akait commented on #313
Hello, can you provide your webpack configuration?

[2022-04-19 14:36] alexander-akait commented on #313
@andreidiaconescu Maybe you can provide github repo? Looks like it should work

[2022-04-19 19:14] andreidiaconescu commented on #313
For me it worked, the solution from previous comment.

[2022-04-19 23:42] alexander-akait commented on #313
So we can close? If you want to help other developer you can send a PR to angular docs

[2022-07-10 02:58] SavkaTaras commented on #190
@moatorres

Hey, thanks for the progress.

I am implementing "imagemin-svgo" for vue cli 5 that uses webpack 5 and I keep a list of errors.
Example:

---
You are trying to enable removeEmptyContainers which is not part of preset.
Try to put it before or after preset, for example

`plugins: [
  {
    name: 'preset-default',
  },
  'cleanupListOfValues'
]`
---

Anyone has the same thing?

"image-min

[2022-07-13 13:58] busybox11 opened #325 "Generate both PNGs and WEBPs"
Hi,
I'm trying to use this plugin to generate, as the issue's name indicates, both PNG and WEBP files, in order to maintain compatibility with older Safari versions that do not support WEBP. I'd like to minify the generated images too, if that's possible.
I'm still using the old plugin notation for easier maintenance but planning to move to the newer asset one soon. Though, it shouldn't change the

[2022-07-13 15:20] alexander-akait commented on #325
Please use:
[code]

[2022-08-02 08:56] busybox11 commented on #325
Hello,
Thanks for your help!
I'm trying out what you've suggested but PNGs are still used in favor or WEBP for some reason. Can I specify which one I want to be used?

[2022-08-02 09:37] andrew-k-21-12 commented on #325
Do you state that you need WEBP images in your sources with `?as=webp` - e.g. `"./images/some-image.png?as=webp"`? If not, then the minimizer (some fallback variant) is going to be used, according to [the warning in the docs](https://webpack.js.org/plugins/image-minimizer-webpack-plugin/#generator).

Also, can recommend to use the minimizer (for PNG) and generator (WEBP) configs from the docs link

[2022-08-03 00:52] busybox11 commented on #325
Thanks for the snippet!
I made it work by migrating everything to assets rather than loaders, and for the Safari thing, we were already using separate loaders, so I just loaded the plugin with webp for global config and png for Safari only.

[2022-08-03 00:52] #325 closed

[2022-08-12 16:27] #313 closed

[2022-08-12 16:27] #306 closed

[2022-08-27 13:07] RAX7 opened #334 "Incorrect filename temlate generation behavior"
### Bug report

When using .svg files with `squooshMinify` or `sharpMinify` (which do not support the svg format), an invalid filename is generated from the `filename` option.

webpack config:
[code]
### Actual Behavior
create file:
`build/minified-xxx-minified-xxx-minified-xxx-minified-xxx-minified-xxx-minified-xxx-minified-xxx-minified-xxx-svg-file-yyy-c8e115cf-yyy-yyy-yyy-yyy-yyy-yyy-yyy.svg`

[2022-08-29 13:38] alexander-akait commented on #334
Sounds like you applu loader multiple times... Can you provide full configuration, because I can't reproduce, thank you

[2022-08-29 13:45] RAX7 commented on #334
`webpack/webpack.common.js`
[code]

`webpack/webpack.config.prod.js`
[code]

`package.json`
[code]

[2022-08-29 14:10] alexander-akait commented on #334
Try to remove `filename: 'minified-xxx-[name]-yyy[ext]',` from minified, I don't think you need rename file after minication, assets modules already rename file as you want, this option for exotic cases

[2022-08-29 14:11] alexander-akait commented on #334
If it will not help, can you create reproducible github repo, hard to use code from comments, thank you

[2022-08-30 08:39] RAX7 commented on #334
Here is [repo with bug](https://github.com/RAX7/bug-webpack-image-minimizer-plugin)

No, this does not affect. I have added an option `exclude: /\.svg$/i` to avoid this behavor, but I still think this a bug.

[2022-09-04 17:47] awdr74100 opened #336 "Typescript types are not correct"
### Bug report

There seems to be a type error in the **sharpMinify** minimizer in a `webpack.prod.conf.ts` configuration file I'm running.

### Actual Behavior

The main code is copied from `README.md`.

[code]

[code]

### Expected Behavior

It should work as well as other minimizer.

### How Do We Reproduce?

Write the **sharpMinify** minimizer example provided in `README.md` through the `webpa

[2022-09-05 21:10] #336 closed

[2022-09-05 22:23] alexander-akait commented on #334
I see, if you don't do something with files/assets you should exclude them from a plugin, i.e. use `/\.(jpe?g|png|gif|tif|webp|avif|jxl)$/i` (no svg there), otherwise you will spend build time on nothing (we can't know all possible extensions and different tools support different extensions).

[2022-09-05 22:37] alexander-akait commented on #334
@RAX7 So I don't have strong option that we have to do something here, although we can update docs and exclude the svg extension for sharp and squoosh

[2022-09-05 23:37] #334 closed

[2022-09-05 23:39] alexander-akait commented on #334
Please try https://github.com/webpack-contrib/image-minimizer-webpack-plugin/releases/tag/v3.3.1, anyway I strong recommend to exclude svg for better perf

[2022-09-06 04:28] RAX7 commented on #334
@alexander-akait I've tried [v3.3.1](https://github.com/webpack-contrib/image-minimizer-webpack-plugin/releases/tag/v3.3.1) and it's works fine for me. Thank you!

In my opinion, we have only two options: skip the file or throw an error. But in this way, I think there will be a problem with [multiple minimizers](https://github.com/webpack-contrib/image-minimizer-webpack-plugin#array) option. For e

[2022-09-06 04:28] eamodio commented on #287
FWIW, I am no longer seeing the issue in 3.3.0

[2022-09-07 14:28] alexander-akait commented on #334
@RAX7 Yeah, feel free to send a PR if you have more ideas, currently I jsut skip any actions when file was no changed

[2022-09-07 15:04] alexander-akait commented on #287
Great, I will closed the issue, anyway feel free to open an new issue if you faced with it again

[2022-09-07 15:04] #287 closed

[2022-09-08 02:15] tianyingchun opened #341 "types loader.d.ts throw error A constructor cannot have a 'this' parameter."
### Bug report
types/loader.d.ts throw ts issue

<img width="917" alt="image" src="https://user-images.githubusercontent.com/2833251/189018507-93f91438-1d7c-4329-8a0b-d4309bc46baf.png">

### Actual Behavior

### Expected Behavior

 No ts error throw

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
 "typescript": "^4.8.2"

[2022-09-09 19:49] alexander-akait commented on #341
Can you provide how we can reproduce it? Because I can't, thank you

[2022-09-09 20:08] alexander-akait commented on #341
Hm, I see, typescript generates these lines, sounds like a bug in typescript...

[2022-09-09 20:29] alexander-akait commented on #341
Found the problem and found workaround

[2022-09-09 20:44] #341 closed

[2022-09-12 18:41] awdr74100 opened #351 "Typescript types are not correct"
### Bug report

Thank you for your help in many places!!

This time it seems that all minimizer have some type error.

### Actual Behavior

The main code is copied from `README.md`.

[code]

[code]

### Expected Behavior

It should work just like `v3.3.1`.

### How Do We Reproduce?

Write the any minimizer example provided in `README.md` through the `webpack.config.ts` configuration file.

### Ple

[2022-09-12 19:53] alexander-akait commented on #351
I see

[2022-09-13 10:08] #351 closed

[2022-09-17 15:36] awdr74100 opened #357 "Request addition of support for `options.animated`"
### Feature Proposal

By default sharp minimizer will extract only one page resulting in a non-animated gif image:

![gif](https://user-images.githubusercontent.com/47501692/190863112-59c4f0b9-5f29-4b81-ba15-66fe17a14e0c.gif)

Add the `animated` option to extract all pages (or set the `page` option to -1):

[code]

An animated image will be generated:

![webp](https://gcdnb.pbrd.co/images/06kEfaJz

[2022-09-19 15:08] alexander-akait commented on #357
Fixed https://github.com/webpack-contrib/image-minimizer-webpack-plugin/issues/357

[2022-09-19 15:08] #357 closed

[2022-11-01 19:13] Ambient-Impact opened #370 "CSS paths for PNG to WebP incorrectly use backslash on Windows, resulting in invalid URLs"
### Bug report

Hi there. I'm not sure if this is a bug with this plug-in or something with Webpack itself, or one of the other loaders (`MiniCssExtractPlugin.loader`, `css-loader`, `postcss-loader`, or `sass-loader`), but when I build on my Windows laptop, the paths that are altered in the resulting CSS use backslashes rather than slashes, which results in invalid URLs.

The workaround I'm using

[2022-11-01 22:54] alexander-akait commented on #370
Can you provide reproducible test repo (github?) with example of code, because it is hard to say where is bug without additional infromation, thank you

[2022-11-08 01:44] Ambient-Impact commented on #370
I'll try and throw together one when I get a chance.

[2022-11-11 14:34] Ambient-Impact commented on #370
@alexander-akait I can confirm that #377 does fix the problem for me on Windows. Let me know if you still need a test repo.

[2022-11-13 15:56] alexander-akait commented on #370
@Ambient-Impact Great, let's do release :+1: